name: Steam Monitor

on:
  schedule:
    - cron: "*/10 * * * *" # cada 10 minutos
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install playwright aiohttp
          playwright install chromium

      - name: Run Steam Monitor
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: python monitor.py
